# NetBeans specific #
nbproject/private/
build/
nbbuild/
nbproject/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
manifest.mf

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
